@page
@model VisitorLogModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please enter your name and date of birth</p>
    <form method="post">
        <input type="text" />
        <input type="date" />
    </form>
    <div id="greeting">

    </div>
</div>
