@page
@model VisitorLogModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home page";

    string minDateValue = ((DateTime)System.Data.SqlTypes.SqlDateTime.MinValue).ToString("yyyy-MM-dd");
    string maxDateValue = DateTime.Now.ToString("yyyy-MM-dd");
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please enter your name and date of birth</p>
    <form method="post" class="text-left">
        <div class="row justify-content-start">
            <div class="col-sm-2">
                <label for="txtName">Name:</label>
            </div>
            <div class="col-sm-10">
                <input asp-for="VisitorLog.Name" id="txtName" type="text" />
            </div>
            <div class="col-sm-12">
                <span asp-validation-for="VisitorLog.Name"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <label for="txtDateOfBirth" class="col-med-4">Date of Birth:</label>
            </div>
            <div class="col-sm-10">
                <input asp-for="VisitorLog.DateOfBirth" id="txtDateOfBirth" type="date" min="@minDateValue" max="@maxDateValue" />
            </div>
            <div class="col-sm-12">
                <span asp-validation-for="VisitorLog.DateOfBirth"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <input type="submit" value="Submit" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div asp-validation-summary="ModelOnly"></div>
            </div>
        </div>
    </form>
    @if (TempData.ContainsKey("Greeting"))
    {
    <div id="greeting">
        @TempData["Greeting"]
    </div>
    }
</div>
