@page
@model WilsonDayCounter.Pages.Shared.LogsModel
@{
    ViewData["Title"] = "Vistor Log";
 }
<h1 class="display-4 text-center">Visitor Log</h1>
<div class="row font-weight-bold">
    <div class="col-sm-4">
        Name
    </div>
    <div class="col-sm-4">
        Date of Birth
    </div>
    <div class="col-sm-4">
        Date Recorded
    </div>
</div>
@foreach (var log in Model.VisitorLogs)
{
<div class="row break-word">
    <div class="col-sm-4">
        @(log.Name ?? "")
    </div>
    <div class="col-sm-4">
        @((log.DateOfBirth ?? default).ToShortDateString())
    </div>
    <div class="col-sm-4">
        @log.DateEntered.ToString("O")
    </div>
</div>
}